version: 2
updates:
- package-ecosystem: npm
  directory: "/"
  schedule:
    interval: weekly
  ignore:
    # This will requires quite a few changes to support
    - dependency-name: "@abhijithvijayan/tsconfig"
    # https://github.com/jsdom/jsdom/issues/3966 and https://github.com/jestjs/jest/issues/9430
    - dependency-name: "jsdom"
  groups:
    dependencies:
      applies-to: version-updates
      update-types:
      - "minor"
      - "patch"
      patterns:
      - "*"
  open-pull-requests-limit: 10
- package-ecosystem: "github-actions"
  directory: "/"
  schedule:
    interval: "monthly"
  groups:
    gha:
      applies-to: version-updates
      patterns:
      - "*"
