<!DOCTYPE html>

<html>
  <head>
    <meta charset="utf-8"/>
    <link href="basic.css" rel="stylesheet">
  </head>

  <body>
    <h1>AccuKnox DAST Browser Extension</h1>
    This extension gives AccuKnox DAST access to the browser for security testing.
    <form>
      These options should be set correctly if the browser is launched from DAST but may need to be set manually if you
      install this add-on in a browser not launched by DAST.
      <table>
      <tr>
        <td><label>DAST API URL</label></td>
        <td><input type="text" id="dasturl"/></td>
        <td>For example <code>http://zap/</code> or <code>http://localhost:8080/</code></td>
      </tr>
      <tr>
        <td><label>DAST API Key</label></td>
        <td><input type="text" id="dastkey"/></td>
        <td>As set in the DAST API options</td>
      </tr>
      <tr>
        <td><label>Enable</label></td>
        <td><input type="checkbox" id="dastenable"/></td>
      </tr>
      <tr>
        <td><label>Auto-close</label></td>
        <td><input type="checkbox" id="window-close-input"/></td>
        <td><label>Automatically close the browser in the recorded scripts</label></td>
      </tr>
      <tr>
        <td></td>
        <td><button type="submit" id="save">Save</button></td>
      </tr>
      </table>
    </form>
    <script src="../../option.js"></script>
    For more info see <a href="https://www.accuknox.com/">https://www.accuknox.com/</a>
  </body>
</html>
