<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ZAP Browser Extension</title>
</head>
<body>
    
    <div class="container">
        <div class="components">
          <h1 class="title">
            <img class="zapicon" src="./assets/icons/zap512x512.svg">
            <span class="zaptitle">ZAP</span>
          </h1>
          
           <div class="record">
            <span class="record__btn" id="record-btn">
              <img class="pause" src="./assets/icons/stop-circle-outline.svg">
              <img class="play" src="./assets/icons/radio-button-on-outline.svg">
            </span>
            <span class="record__back-1"></span>
            <span class="record__back-2"></span>
          </div>
          
          <div class="window-close">
            <div class="window-close__1">
              <input id="window-close-input" type="checkbox">
              <label for="window-close-input">
                <img class="done" src="./assets/icons/done.svg">
                </label>
            </div>
            <div class="window-handle-label">Close Window</div>
          </div>
          
         <div class="form">
            <input type="text" class="form__input" placeholder="Script Name" name="script-name" id="script-name-input" >
            <div class="download-icon" id="save-script">
              <img class="download" src="./assets/icons/download.svg">
            </div>
          </div>
          

          <div class="setting-icon" id="configure-btn">
            <div class="setting-icon__settings">
              <img class="settings" src="./assets/icons/settings.svg">
            </div>
          </div>
        </div>
      </div>
      <script src="./script.js"></script>
</body>
</html>