name: Check CI

on:
  push:
  pull_request:
  workflow_dispatch:

env:
  NODE_VERSION: 20

jobs:
  check:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6

      - name: Set Node.js environment
        uses: actions/setup-node@v6
        with:
          node-version: ${{ env.NODE_VERSION }}

      - name: Install dependencies
        run: yarn install

      - name: Lint
        run: yarn lint

      - run: yarn test unitTests

  integration:
    needs: check
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        browser: ["Chrome", "Edge", "Firefox"]

    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v6
        with:
          node-version: ${{ env.NODE_VERSION }}
      - run: yarn install
      - run: yarn run build
      - name: Test
        run: yarn test -t "${{ matrix.browser }} Integration Test"
